/*-------------
   font style 
----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*---------------
   common style
------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*---------------------
    navigation part 
--------------------*/
.navbar{
    background-color: rgba(10, 10, 185, 0.849);
    display: grid;
    grid-template-columns: repeat(2,1fr); 
}
.nav-title{
    color: white;
    margin-left: 150px;
    margin-top: 110px;
}
.nav-title h1{
    margin: 0;
}
.nav-btn{
    margin-top: 38px;
}
.nav-title a{
    background-color:rgb(250, 32, 141);
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.nav-img{
    width: 556px;
    height: 438px;
    margin-top: 67px;
    margin-right: 150px;
}
.nav-img img{
    height: 338px;
    width: 400px;
    transition: transform 2s ease-in-out;
}
.nav-img:hover img{
    transform: rotate(30deg);
}
/*--------------
    main part 
-----------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 27px 30px;
    width: 50%;
    margin:70px 0 20px 150px;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 3px 3px 8px gray;
    border-radius: 10px;
}
.player-img img{
       height:256px ;
       width: 300px;
       padding: 15px;
}
.player-desc{
    padding-left: 15px;
}
.player h3{
    margin: 0;
}
.player p{
    margin: 5px;
}

/*---------------------
    footer part 
-------------------*/
footer{
    text-align: center;
    margin:70px 0 70px 0;
}
.footer-img img{
    height: 213px;
    width: 50%;
}
.social-icon{
    margin-left: 10px;
}
.fab{
    padding: 10px;
    font-size: 20px;
    color: rgb(116, 107, 107);
    background-color: rgb(219, 218, 218);
    border-radius: 50%;
}